<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>516522846281-k95p850lf01c48a5ptgr8c8r0uet6hpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516522846281-k95p850lf01c48a5ptgr8c8r0uet6hpi</string>
	<key>API_KEY</key>
	<string>AIzaSyAXUuO7oheT6e_5IiICy74-q_ADrM6qam0</string>
	<key>GCM_SENDER_ID</key>
	<string>516522846281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bonnienguyen.eats</string>
	<key>PROJECT_ID</key>
	<string>eats-8ce24</string>
	<key>STORAGE_BUCKET</key>
	<string>eats-8ce24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516522846281:ios:b5f66127fa6fb5f0</string>
	<key>DATABASE_URL</key>
	<string>https://eats-8ce24.firebaseio.com</string>
</dict>
</plist>